<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Her Health Advocate</title>
</head>

<body>

    <div id="container">
     <h3 style="font-size:30px;margin-right:1000px;">
     Welcome To
 </h3>
    <h2 style="font-size:50px;">
        Her Health Advocate
    </h2>

        <br> <br>

          <h3 style="font-size:30px;">
     We're here for you & Your Health.
    </h3>


        <div class="main" id="main">


        
            <input type="checkbox" id="chk">
            <div class="signup">
                <form action="{{ url_for('signup') }}" method="post">
                <label for="chk" class="sig">Sign up</label>
                <div class="user-box">
                    <input type="text" title="Enter Username" id="username" name="username" required autocomplete="off">
                    <label id="usernameLabel">Username</label>
                    <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="userIcon" />
                    <i></i>
                </div>
                <div class="user-box">
                    <input type="text" title="Enter email" id="email" name="email" required autocomplete="off">
                    <label id="emailLabel">Email</label>
                    <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="emailIcon">
                </div>
                <div class="user-box">
                    <input type="password" title="Enter password" id="password" name="password" required autocomplete="off">
                    <label id="passwordLabel">Password</label>
                    <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="passIcon">
                </div>
                <button class="btn" id="button">Sign up</button>
                <!-- <input type="submit" value="Sign up"> -->
                </form>
            </div>
        
            
            <div class="login">
                <form action = "/login" method = "post">
                <label for="chk" class="log">Login</label>



                <div class="user-box">
                    <input type="text" title="Enter Username" id="username2" name="username2" required>
                    <label>Username</label>
                </div>

                <div class="user-box">
                    <input type="password" title="Enter password" id="password2" name="password2" required>
                    <label>Password</label>
                </div>
                <button type="submit" id="button2">Login</button>
                </form>
            </div>

        </div>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    let userIcon = document.getElementById("userIcon");
    let emailIcon = document.getElementById("emailIcon");
    let passIcon = document.getElementById("passIcon");

    userIcon.onclick = function() {
        Swal.fire(`Username must be
            # Contains only letters and numbers for easy memorization.
            # Not less than 5 and not more than 15.
            # Not be already used before.`);
    }
    emailIcon.onclick = function() {
        Swal.fire(`The email must be valid to communicate with you in case of sending a confirmation code.`);
    }
    passIcon.onclick = function() {
        Swal.fire(`Password must be
            # Contains only letters and numbers for easy memorization.
            # Not less than 7 and not more than 14.`);
    }
    </script>

</body>
</html>
